<%- include('../partials/header') %>
<%- include('./menu') %>

<main class="container-fluid m-0 p-0"> 
       
    <section class="container-md mt-5 px-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 bg-dark bg-opacity-75 rounded-2 p-3">
                <form action="/crear" method="POST">
            
                    <div class="mb-3 form-floating">
                        <input type="text" name="title" class="form-control" placeholder="Titulo" id="title" autofocus value="<% if(typeof error != 'undefined'){ %><%= values.title %><% } %>">
                        <label for="title">Titulo</label>

                        <% if(typeof error != "undefined"){ %>
                            <% const mesage = error.find(e => e.path === 'title') %>
                            <% if(mesage){ %>
                                <div class="my-1 p-1 text-center alert alert-danger" role="alert">
                                    <p class="alert-link p-0 m-0"><%= mesage.msg %></p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
            
                    <div class="mb-3 form-floating">
                        <textarea class="form-control" placeholder="Descripcion" name="description" id="description" style="max-height: 160px; min-height: 160px; resize:none"><% if(typeof error != 'undefined'){ %><%= values.description %><% } %></textarea>
                        <label for="description">Descripcion</label>

                        <% if(typeof error != "undefined"){ %>
                            <% const mesage = error.find(e => e.path === 'description') %>
                            <% if(mesage){ %>
                                <div class="my-1 p-1 text-center alert alert-danger" role="alert">
                                    <p class="alert-link p-0 m-0"><%= mesage.msg %></p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
            
                    <div class="mb-3 form-floating">
                        <input type="url" name="link" class="form-control" placeholder="Link" id="url" value="<% if(typeof error != 'undefined'){ %><%= values.link %><% } %>">
                        <label for="url">Link</label>

                        <% if(typeof error != "undefined"){ %>
                            <% const mesage = error.find(e => e.path === 'link') %>
                            <% if(mesage){ %>
                                <div class="my-1 p-1 text-center alert alert-danger" role="alert">
                                    <p class="alert-link p-0 m-0"><%= mesage.msg %></p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                        
                    <div class="text-center row justify-content-center">
                        <button type="submit" class="btn btn-primary fs-5 fw-medium col-8 col-md-5">Crear</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    
</main>

<%- include('../partials/footer') %>