<%- include('../partials/header') %>
<%- include('./menu') %>

<main class="container-fluid p-0 m-0">
    <% if(!proyectos[0]) { %>
        <section class="d-flex justify-content-center align-items-center p-3" style="height: 60vh">
            <span class="text-center text-white bg-primary fw-medium fs-5 p-3 rounded-2">No existen proyectos</span>
        </section>
    <% } else { %>
        <section class="container-md p-0">
            <div class="row my-2 m-0 p-0">
            <% proyectos.forEach((e,i)=>{ %>
                <article class="p-1 m-0 col-12 col-sm-6 col-md-4 d-flex">
                    <div class="card border border-black border-2 w-100">
                        <div class="card-body d-flex flex-column justify-content-end p-0">
                            <div class=" h-100 border-bottom border-2 mb-1 p-2">
                                <h5 class="card-title text-center"><%= e._title %></h5>
                            </div>

                            <div>
                                <p class="card-text overflow-auto m-0 p-1" style="height:10rem; max-height: 10rem;text-align: justify;"><%= e._description %></p>
                                <div class="bg-black p-2">
                                    <a class="btn btn-primary m-1" href="<%= e._link %>" target="_blank">Visitar</a>
                                    <a class="btn btn-danger m-1" href="/borrar/<%= e._id_project %>">Borrar</a>
                                    <a class="btn btn-warning m-1" href="/editar/<%= e._id_project %>">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            <% }) %>
            </div>
        </section>

    <% } %>
</main>


<%- include('../partials/footer') %>